<div class="dive"> 
    <mat-card class="matcard">
        <mat-card-header><h2><b>Add Book</b></h2></mat-card-header>
               
                <mat-card-content class="container">
    <form action="/action_page.php">
 
      <label for="fname">Book Name</label>
      <input type="text" name="Book Name" [(ngModel)]='book.bname' placeholder="Book Name..">
  <br>
      <label for="Catagory">Catagory</label>
      <select id="Catagory" name="Catagory"  [(ngModel)]='book.category'>
        <option value="Horror">Horror</option>
        <option value="Love Story">Love Story</option>
        <option value="Crime">Crime</option>
        <option value="Biography">Biography</option>
        <option value="Cartoons">Cartoons</option>
      </select>
  

      <mat-form-field>
        <mat-label>Author</mat-label>
        <mat-select [(ngModel)]="selectedAuthor" name="selectedAuthor">
          <mat-option *ngFor="let author of authors"  [value]="author" >
           {{author.fname}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <label for="fname">Author </label>
      <input type="text"  name="aucode" [(ngModel)]='book.author' placeholder="Author Name.."> -->
  <br>
  
      <label for="fname">Book Code</label>
      <input type="text"  [(ngModel)]='book.bookcode' name="BookCode" placeholder="Book Code..">

      <label for="fname">Price</label>
      <input type="number"  [(ngModel)]='book.price' name="price" placeholder=""><br>
      <br>

      <label for="fname">No of Books</label>
      <input type="number" name="BookCode"  [(ngModel)]='book.noOfBooks' placeholder="Amount..">
      <br><br>

      
<br><br>
<mat-card-actions class="buttonContainer">
    <button mat-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addBook()">Submit</button>
    </mat-card-actions>
   
      </form>

     


      
      </mat-card-content>
      </mat-card>
      <br>
     
      </div>
   
      
   <app-allbooks></app-allbooks>