<div class="au_div_01">
    <h2 class="au_head_01"> About Us </h2>

    <h3 class="au_title_01"> What is an Online Library </h3>
    <p class="au_para_01">The OU Library provides you with access to an amazing range of online resources to explore the subjects you are passionate about.  We will also help you to develop skills that will support you as you study, at work or in everyday life.</p>
      
    <h3 class="au_title_01">Why use the Online Library</h3>
    <p class="au_para_01">The online library gives you access to quality-assured and trusted resources that are selected and assessed by subject specialists and academics.</p>
      
    <h3 class="au_title_01">Who we are</h3>
    <p class="au_para_01">MindHabit Our mission is to inspire the city’s citizens and visitors to lead richer and more active lives through learning.</p>

    <h3 class="au_title_01">Our Vision</h3>
    <p class="au_para_01">The ultimate goal of the Open Library is to make all the published works of humankind available to everyone in the world. While large in scope and ambition, this goal is within our grasp. Achieving it will require the participation of librarians, authors, government officials and technologists.</p>
    <p class="au_para_01">Imagine what a comprehensive, open library could be! A talented math whiz who lives in a rural community can explore the works of high math. An elderly person can have a large print edition of any book ever published. An innovative young scholar can publish a book directly to this great library on subjects that might not otherwise make it through the long and difficult publication process.</p>

    <h3>Our Mission</h3>
    <p class="au_para_01">Creating a knowledge society through the preservation of intellectual heritage of the nation.Development of National library and information system.</p>
    <p class="au_para_01">Encouraging the utilization of information and communication technology for an effective library service.Providing bibliographical services and assisting for book publication.</p>

 </div>